*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0f0f14;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header{
    margin-bottom: 20px;
}

.logo{
    width: 180px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    background: #1a1a22;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(128,0,255,0.3);
    text-align: center;
}

.calculadora{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.linha img{
    width: 500px;
}

input{
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 6px;
    border: none;
    outline: none;
    font-weight: bold;
}

#resultado{
    min-width: 370px;
    width: auto;
    font-weight: bold;
}

button{
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(45deg,purple,yellow);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.05);
}

.imagem-area{
    margin-top: 30px;
}

.imagem-area img{
    border-radius: 50%;
}

.imagem{
    width: 250px;
    height: 250px;
    display: none;
}